.navbar-default
{
    background:rgba(52, 73, 94, 1) !important;
    border-radius: 0 !important;
    top:0;
}
.navbar{
    position:fixed !important;
    width:100% !important;
    z-index:9999 !important;
}
.navbar .nav li a{
    color:white !important;
}
.navbar .nav li a:hover{
    background:rgba(149, 165, 166, .7) !important;
    color:white !important;
}
.sidebar-container{
    position:fixed;
    z-index:9999;
    right:0;
    bottom:100px;
    box-shadow:5px 5px 5px rgb(44, 62, 80);
}
.sidebar-info{
    height:180px;
    width:30px;
    background:rgba(149, 165, 166, .7);
    position:relative;
    border-radius:5px 0 0 5px;
    border:black;
    box-shadow:5px;
}
.sidebar-icon .glyphicon{
    color:rgba(52, 73, 94, .8);
    font-size:20px !important;
    position:absolute !important;
    top:45% !important;
}
.sidebar-icon .glyphicon:hover{
    color:rgba(52, 73, 94, 1);
}

.social-img{
    height:32px;
    margin-bottom:5px;
    opacity:0.7;
}
.social-img:hover{
    opacity:1;
}
.valign-box {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
        /*background:rgba(39, 174, 96,1.0)!important;*/
    background:rgba(52, 73, 94, .9);
}
.valign-box-text{
    color:white;
    margin-top:0 !important;
    margin-bottom:0 !important;
    cursor:default;

}
.btn-custom{
    /*background:rgba(22, 160, 133,1.0);*/
    background:rgba(149, 165, 166, .7) !important;
    color:white;
    border-radius:0 !important;
    border:1px solid black !important;
    font-weight:bold !important;
}
.outer-tour-box{
    height:300px !important;
    width:100%;
    padding-right:0 !important;
    padding-left:0 !important;
    border:1px solid black;
    display:table;


}
.outer-band-box{
    height:300px !important;
    width:100%;
    padding-right:0 !important;
    padding-left:0 !important;
    border:1px solid black;
    display:table;

}
.footer span a{
    color:white !important;
}
.footer{
    margin-right:0 !important;
    margin-left:0 !important;
}
.tour-box h2{
    padding-top: 5px;
    margin-top:0;
}
.tour-box{
    background:white;
}

#tour-map {
    /* Google Maps requires defined height on the map element, Bootstrap col takes care of the width */
    height: 60%;
}

.container {
    cursor:default;
    margin-bottom:75px;
    border-radius:5px;
    margin-top: 35px;
}