<html>
<head>
    <title>{% block title %}Best Band Ever{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css"/>
    {% block css_links %}{% endblock %}
</head>
<style>
    {% block page_style %}
    {% endblock %}
</style>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right text-center">
        <li><a href="#">Tour</a></li>
        <li ><a href="#">Meet the Band</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">News</a></li>
        <li> <a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

{% block js %}{% endblock %}
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>