<html>
<head>
    <title>{% block title %}Best Band Ever{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    {% block css_links %}{% endblock %}
</head>
<style>
    {% block page_style %}
    {% endblock %}
</style>
<body >
<nav style="font-family: 'Open Sans', sans-serif;" class="navbar navbar-default" id="main-nav a">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:white; cursor:default;">The Nightman Cometh</a>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right text-center">
        <li><a href="/">Home</a></li>
        <li><a href="#">Tour</a></li>
        <li><a href="/meet">Meet the Band</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="sidebar-container">
    <div class="sidebar-info">
        <div class="sidebar-icon">
            <span class="glyphicon glyphicon-chevron-left" style=""></span>
            <div class="sidebar-social-media hide">
                <div class="row" style="width:90%; margin-left:30px; padding-top:20px; margin-right:0; padding-right:10px; !important;">
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/email.png"  alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/twitter.png" alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/youtube-variation.png"  alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/spotify.png"  alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/instagram.png" alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/lastfm.png" alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/soundcloud.png" alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/facebook.png"  alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container" style="cursor:default; padding-top:100px; margin-bottom:75px;">
{% block content %}
{% endblock %}

</div>
{#style="height:50px; background:rgba(52, 73, 94, 1) !important; width:100%;position:fixed; bottom:0;"#}
{#<footer >#}
    <div class="row text-center footer" style="height:75px; background:rgba(52, 73, 94, 1) !important; width:100%;position:fixed; bottom:0; font-family: 'Open Sans', sans-serif;">
        <div class="footer-container" style="margin-top: 17px;">
            <span style="margin-top:10px;"><a href="/">Home</a> | <a href="#">Tour</a> | <a href="/meet">Meet the Band</a> | <a href="#">Music</a> | <a href="#">News</a> | <a href="#">Contact Us</a></span>
            <p style="color:white !important;">The Nightman Cometh &copy; 2015</p>
        </div>
    </div>
{#</footer>#}
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){

        $('.sidebar-info span').click( function(){
            var glyph = $('.glyphicon');
            if($('.sidebar-info span').hasClass('glyphicon-chevron-left')) {
                $('.sidebar-info').animate({width: "110px"}, {complete:
                function(){
                    $('.sidebar-social-media').removeClass('hide');
                }}, 1000);
                glyph.removeClass('glyphicon-chevron-left');
                glyph.addClass('glyphicon-chevron-right');
            }
            else{
                $('.sidebar-social-media').addClass('hide');
                $('.sidebar-info').animate({width: "30px"}, 1000);
                glyph.removeClass('glyphicon-chevron-right');
                glyph.addClass('glyphicon-chevron-left');
            }
        });
    });
</script>
{% block js %}{% endblock %}
</body>
</html>