{% extends "base.html" %}
{% block page_style %}
	.row
	{
		padding-bottom: .5em;

	}
	body
	{
		background:rgba(236, 240, 241, 1.0);
	}
    .control-label{

        font-weight:bolder !important;
    }
{% endblock %}
{% block content %}

    <div class="container" style="background:white; font-family: 'Open Sans', sans-serif; margin-top:100px; margin-bottom:50px; border-radius:10px; position:relative;">

        <div class="row text-center">
            <h1>Contact Us</h1>
        </div>
        <hr style="margin-top:0" />
        	<div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="control-label">Name </label>
                                <input class="form-control" required type="text" id="inputName" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Email </label>
                                <input class="form-control" required type="text" id="inputEmail" placeholder="example@nau.edu" />
                        </div>
                        <div class="form-group">
                            <label for="inputMessage" class="control-label">Message </label>
                                <textarea name="inputMessage" required="required" id="inputMessage" cols="30" rows="2" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary text-center col-xs-12" style="margin-bottom:20px">Send</button>
                    </form>
                </div>

                <div class="col-md-4 col-md-offset-2 col-xs-10 col-xs-offset-1 hidden-xs" style="background:LightBlue; border-radius:5px; margin-top:20px; margin-bottom:10px;">
        		<h5><span style="font-weight:800 !important;">Phone: </span>999-555-9955</h5>
        		<p>Email: <a href="nightman@notreal.com">Nightman@NotReal.com</a></p>
        		<p>Physical Address: Fake Band Records<br>S. San Francisco St.<br>Flagstaff, AZ</p>
        		<p style="font-size:10px;">See bottom right side-bar for social media and other links</p>
        		<p>
        			<img class="social-img" src="{{ STATIC_URL }}social_icons/email.png"  alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/twitter.png" alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/youtube-variation.png"  alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/spotify.png"  alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/instagram.png" alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/lastfm.png" alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/soundcloud.png" alt=""/>
                    <img class="social-img" src="{{ STATIC_URL }}social_icons/facebook.png"  alt=""/></p>
                </div>

            </div>
    </div>


        	</div>
        
        
    </div>


{% endblock %}
{% block js %}
{#    Insert any JavaScript here         #}
{% endblock %}