{% extends "base.html" %}
{% block page_style %}
    h3{
        margin-top:0;
        padding-top:5px;
        padding-bottom:5px;
    margin-bottom:0;
    }
    h3:hover{
        cursor:pointer;
        background:rgba(41, 128, 185,1.0);
        color:white;
    }
    .btn-custom{
        position:absolute;
        bottom:5px;
        right:95px;
    }
    @media(max-width:1200px){
        .btn-custom{
            right:73px;
        }
        .contact-box-text{
            font-size:12px;
        }

    }
    body{
        background:rgba(236, 240, 241,1.0);
    }
{% endblock %}
{% block content %}

        <div class="row center-block hidden-sm hidden-xs" style="background:white; padding-top:30px; padding-bottom:30px; border-radius:10px;">
            <div class="col-md-3  text-center outer-tour-box" style="margin-left:4%;">
                <div class="valign-box" style="">
                    <h2 class="valign-box-text">Tour Dates</h2>
                </div>
                <div class="tour-box hide" style="height:100%;">
                    <h2>Tour Info</h2>
                    <hr style="margin-bottom:0; margin-top:0;"/>
                    <div class="table-responsive ">
                        <table class="table text-center">
                            <thead>
                                <th style="text-align:center;">Date</th>
                                <th style="text-align:center;">City</th>
                            </thead>
                            <tbody>
                                {% for date in tour_dates %}
                                    <tr>
                                        <td>{{ date.date }}</td>
                                        <td>{{ date.city }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-custom" href="/tour" style="font-weight:bold;">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-offset-1 text-center outer-tour-box" >
                <div class="valign-box">
                    <h2 class="valign-box-text">Meet the Band</h2>
                </div>
                <div class="tour-box hide" style="height:100%;">
                    <h2 style="cursor:default;">The Band</h2>
                    <hr style="margin-bottom:0; margin-top:0;"/>
                    <h3 onclick="window.location.href = '/meet#ryan'">Ryan Batchelder</h3>
                    <h3 onclick="window.location.href = '/meet#duke'">Duke Ayers</h3>
                    <h3 onclick="window.location.href = '/meet#sarah'">Sarah Kehoe</h3>
                    <h3 onclick="window.location.href = '/meet#erik'">Erik Ward</h3>
                    <h3 onclick="window.location.href = '/meet#tsosie'">Tsosie Schneider</h3>
                    <a class="btn btn-custom" href="/meet" style="margin-top:10px;">More Info</a>
                </div>
            </div>
            <div class="col-md-3 col-xs-offset-1 text-center outer-tour-box">
                <div class="valign-box" style="">
                    <h2 class="valign-box-text">Contact Us</h2>
                </div>
                <div class="tour-box hide" style="height:100%;">
                    <h2>Contact Info</h2>
                    <hr style="margin-bottom:0; margin-top:0;"/>
                    <h4 class="contact-box-text" style="text-align:left; padding-left:30px;"><span class="glyphicon-phone glyphicon" style="padding-right:10px;"></span>999-555-9955</h4>
                    <h4 class="contact-box-text" style="text-align:left; padding-left:30px;"><span class="glyphicon-envelope glyphicon" style="padding-right:10px;"></span>Nightman@NotReal.com</h4>
                    <hr  style="margin-bottom:0; margin-top:0;"/>

                    <h5 class="contact-box-text" style="font-weight:bolder !important;">Physical Address</h5>
                                        <hr style="margin-bottom:0; margin-top:0;"/>

                    <h5>Fake Band Records</h5>
                    <h5>S. San Francisco St.</h5>
                    <h5>Flagstaff, AZ</h5>
                    <a class="btn btn-custom" href="/contact">More Info</a>
                </div>
            </div>
        </div>


{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
                var paddingTop = ($(this).height() - $('.tour-box').height() - $('nav').height() - $('footer').height() - 100)/2;
                $('.container').css('margin-top',paddingTop);
                var marginBottom = -(($('.container').height() - $('.tour-box').height() - $('nav').height() - $('footer').height())/2);
                $('.row').css('margin-top', marginBottom);
            $('.outer-tour-box').hover(function(){
                $(this).children('.valign-box').toggleClass('hide');
                $(this).children('.tour-box').toggleClass('hide');
            });
            $(window).resize(function(){
                var paddingTop = ($(this).height() - $('.tour-box').height() - $('nav').height() - $('footer').height() - 100)/2;
                $('.container').css('margin-top',paddingTop);
                console.log($(this).height());
                                var marginBottom = -(($('.container').height() - $('.tour-box').height() - $('nav').height() - $('footer').height())/2);
                $('.row').css('margin-top', marginBottom);

            });
    });

</script>
{% endblock %}