{% extends "base.html" %}
{% block page_style %}
    .row
    {
        padding-bottom: .5em;
    }
    body{
        background:rgba(236, 240, 241,1.0);
    }

{% endblock %}

{% block content %}
    <div class="container" style="font-family: 'Open Sans', sans-serif; background:white !important; border-radius:10px; margin-bottom:50px; margin-top:100px;" >
        <div class="row text-center" >
            <h1>Meet The Nightman Cometh</h1>
        </div>
        <hr style="margin-top:0;" />
        <div class="row" style="margin-top:50px;">
            <div class="col-sm-4 col-xs-12 text-center ">
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/ryan.jpg" alt=""/>
                <h2 class="text-center">Ryan Batchelder</h2>
                <p>Ryan is the one-legged member of The Nightman Cometh, after losing his leg climbing up the top sails working at his side-gig as a pirate. Since worker's comp doesn't cover piracy induced injuries, he learned how to play the didgeridoo to pay for a peg leg. After racking up arrest warrants in every ocean bordering state, Ryan found himself far away from water in Flagstaff, Arizona where he joined "The Nightman Cometh" to put his newfound didgeridoo skills to work.</p>
            </div>
            <div  class="col-sm-4 col-xs-12 text-center" >
                <a href="#" id="duke"></a>
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/duke.jpg" alt=""/>
                <h2  class="text-center">Duke Ayers</h2>
                <p>The Forgetful Singer - Duke excels at whispering random phrases into the microphone, creating his iconic #ThingsDukeSays. Before coming in to the band , he was just a simple, young man who happened to stumble into
                a game of CharDee MacDennis and virtually lost all sense of intelligence. Duke also has a memory problem where he to forget to certain words when, cheese. </p>

            </div>
            <div class="col-sm-4 col-xs-12 text-center ">
                <a href="#" id="sarah"></a>
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/sarah.jpg" alt=""/>
                <h2 class="text-center">Sarah Kehoe</h2>
                <p>Like many Portland natives, Sarah got her first big break touring with the Decemberists, providing assorted background noises including the washboard, the spoons, and the jaw harp.  Sarah is now the Nightman's lead oboist and seldom-requested backup singer.  After spending most of her high school years playing Rock Band and Guitar Hero, she was under the impression that this music business stuff would be easier. </p>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-sm-4 col-xs-12 col-sm-offset-2 text-center ">
                <a href="#" id="erik"></a>
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/erikw.jpg" alt=""/>
                <h2 class="text-center">Erik Ward</h2>
                <p>Accordion to recent studies, if you type a name of a musical instrument randomly into the middle of a sentence, most people won't notice it. Erik is just an average person with average abilities, but it's hidden in the fact that he plays bass.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center ">
                <a href="#" id="tsosie"></a>
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/tsosie.jpg" alt=""/>
                <h2 class="text-center">Tsosie Schneider</h2>
                <p>The accordion has not been squeezed so tenderly since Steve Urkle. Tsosie learned the craft riding the rails pretending to be a professional poker player. While hoboing around the southwest Tsosie eventually ended up in Flagstaff, Arizona. When the peyote, alcohol, and mushrooms finally wore off he found himself enrolled at the local debtor’s prison/university. Realizing he lacked the wear needed to panhandle in the winter. He join the group ‘The Darkman Cometh’ to panhandle indoors. </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}