{% extends "base.html" %}
{% block page_style %}
    .row
    {
        padding-bottom: .5em;
    }
    .img-responsive{
        height:319px;
        width:319px;
    }
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center" >
            <h1>Meet The Nightman Cometh</h1>
        </div>
        <hr style="margin-top:0;" />
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-4 text-center ">
                <img class="img-responsive" src="{{ STATIC_URL }}band_members/ryan.jpg" alt=""/>
                <h2 class="text-center">Ryan Batchelder</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis magna quis porta auctor. Vivamus condimentum fermentum diam non venenatis. Proin egestas nibh id odio molestie, dignissim ultrices mauris eleifend. Quisque auctor consectetur porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc suscipit eros nunc, eu maximus nibh rutrum eget. Nullam posuere laoreet neque, non eleifend est vehicula non. Praesent venenatis risus non dapibus dapibus. Vestibulum nec diam bibendum, vulputate elit in, gravida diam.</p>
            </div>
            <div class="col-xs-4 text-center ">
                <img class="img-responsive"src="{{ STATIC_URL }}band_members/duke.jpg" alt=""/>
                <h2 class="text-center">Duke Ayers</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis magna quis porta auctor. Vivamus condimentum fermentum diam non venenatis. Proin egestas nibh id odio molestie, dignissim ultrices mauris eleifend. Quisque auctor consectetur porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc suscipit eros nunc, eu maximus nibh rutrum eget. Nullam posuere laoreet neque, non eleifend est vehicula non. Praesent venenatis risus non dapibus dapibus. Vestibulum nec diam bibendum, vulputate elit in, gravida diam.</p>

            </div>
            <div class="col-xs-4 text-center ">
                <img src="http://placehold.it/319x319" alt=""/>
                <h2 class="text-center">Band Member</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis magna quis porta auctor. Vivamus condimentum fermentum diam non venenatis. Proin egestas nibh id odio molestie, dignissim ultrices mauris eleifend. Quisque auctor consectetur porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc suscipit eros nunc, eu maximus nibh rutrum eget. Nullam posuere laoreet neque, non eleifend est vehicula non. Praesent venenatis risus non dapibus dapibus. Vestibulum nec diam bibendum, vulputate elit in, gravida diam.</p>

            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-4 col-xs-offset-2 text-center ">
                <img src="http://placehold.it/319x319" alt=""/>
                <h2 class="text-center">Band Member</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis magna quis porta auctor. Vivamus condimentum fermentum diam non venenatis. Proin egestas nibh id odio molestie, dignissim ultrices mauris eleifend. Quisque auctor consectetur porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc suscipit eros nunc, eu maximus nibh rutrum eget. Nullam posuere laoreet neque, non eleifend est vehicula non. Praesent venenatis risus non dapibus dapibus. Vestibulum nec diam bibendum, vulputate elit in, gravida diam.</p>
            </div>
            <div class="col-xs-4 text-center ">
                <img src="http://placehold.it/319x319" alt=""/>
                <h2 class="text-center">Band Member</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis magna quis porta auctor. Vivamus condimentum fermentum diam non venenatis. Proin egestas nibh id odio molestie, dignissim ultrices mauris eleifend. Quisque auctor consectetur porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc suscipit eros nunc, eu maximus nibh rutrum eget. Nullam posuere laoreet neque, non eleifend est vehicula non. Praesent venenatis risus non dapibus dapibus. Vestibulum nec diam bibendum, vulputate elit in, gravida diam.</p>
            </div>
        </div>
    </div>
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-xs-4">#}
{#                <img class="img-responsive" src="http://placehold.it/200x200" />#}
{#            </div>#}
{#            <div class="col-xs-8">#}
{#                <h2>Duke Ayers</h2>#}
{#                <p>#}
{#                    Bio#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    <div class="row">#}
{#            <div class="col-xs-4">#}
{#                <img class="img-responsive" src="{{ STATIC_URL }}band_members/ryan.jpg" />#}
{#            </div>#}
{#            <div class="col-xs-8">#}
{#                <h2>Ryan Batchelder</h2>#}
{#                <p>#}
{#                    Bio#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    <div class="row">#}
{#            <div class="col-xs-4">#}
{#                <img class="img-responsive" src="http://placehold.it/200x200" />#}
{#            </div>#}
{#            <div class="col-xs-8">#}
{#                <h2>Band Member</h2>#}
{#                <p>#}
{#                    Bio#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    <div class="row">#}
{#            <div class="col-xs-4">#}
{#                <img class="img-responsive" src="http://placehold.it/200x200" />#}
{#            </div>#}
{#            <div class="col-xs-8">#}
{#                <h2>Band Member</h2>#}
{#                <p>#}
{#                    Bio#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    <div class="row">#}
{#            <div class="col-xs-4">#}
{#                <img class="img-responsive" src="http://placehold.it/200x200" />#}
{#            </div>#}
{#            <div class="col-xs-8">#}
{#                <h2>Band Member</h2>#}
{#                <p>#}
{#                    Bio#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}

{% block js %}{% endblock %}