{% extends "base.html" %}
{% block page_style %}
{#Insert any CSS here#}
.album-container {
    perspective: 1000;
    width: 219;
    height: 219;
    }
.album-container:hover .flip, .album-container.hover .flip {
    transform: rotateY(180deg);
    }
.flip {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative
    }
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    width: 219;
    height: 219;
    }
.front {
    z-index: 2;
    transform: rotateY(0deg);
    }
.back {
    transform: rotateY(180deg);
    }

{% endblock %}
{% block content %}
{#Main HTML content Goes here#}

<div class="container" style="margin-top:100px;">
    <div class="album-container" ontouchstart="this.classList.toggle('hover');" style="margin-left: 5%;float: left;">
       <div class="flip">
            <div class="front">
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/erikw.jpg" alt=""/>
            </div>

            <div class="back">
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/tsosie.jpg" alt=""/>
            </div>
       </div>
    </div>

    <div class="album-container" ontouchstart="this.classList.toggle('hover');" style="float: left;margin-left: 12%;">
       <div class="flip">
            <div class="front">
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/sarah.jpg" alt=""/>
            </div>

            <div class="back">
                    <h2>Contact Info</h2>
                    <hr style="margin-bottom:0; margin-top:0;"/>
                    <h4 class="contact-box-text" style="text-align:left; padding-left:30px;"><span class="glyphicon-phone glyphicon" style="padding-right:10px;"></span>999-555-9955</h4>
                    <h4 class="contact-box-text" style="text-align:left; padding-left:30px;"><span class="glyphicon-envelope glyphicon" style="padding-right:10px;"></span>Nightman@NotReal.com</h4>
                    <hr  style="margin-bottom:0; margin-top:0;"/>

                    <h5 class="contact-box-text" style="font-weight:bolder !important;">Physical Address</h5>
                                        <hr style="margin-bottom:0; margin-top:0;"/>

                    <h5>Fake Band Records</h5>
                    <h5>S. San Francisco St.</h5>
                    <h5>Flagstaff, AZ</h5>
                    <a class="btn btn-custom" href="#">More Info</a>
            </div>
       </div>
    </div>
    <div class="album-container" ontouchstart="this.classList.toggle('hover');" style="float: left;margin-left: 12%;">
       <div class="flip">
            <div class="front">
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/ryan.jpg" alt=""/>
            </div>

            <div class="back">
                <img class="img-responsive center-block" src="{{ STATIC_URL }}band_members/duke.jpg" alt=""/>
            </div>
       </div>
    </div>


</div>


{% endblock %}
{% block js %}
{#    Insert any JavaScript here         #}
{% endblock %}