{% extends "base.html" %}
{% block page_style %}
{#Insert any CSS here#}
.album-container {
    width: 319px;
    height: 319px;
    display: inline-block;
    }
.album-container:hover .flip, .album-container.hover .flip {
    transform: rotateY(180deg);
    }
.flip {
    transition: 1s;
    transform-style: preserve-3d;
    }
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    width: 319px;
    height: 319px;
    }
.front {
    transform: rotateY(0deg);
    }
.back {
    transform: rotateY(180deg);
    }
#table-container{
    width: 319px;
    height: 319px;
    overflow-y: scroll;
    overflow-x: hidden;
    }
tr{
    height:auto;
    }
td{
    font-size: 80%;
    text-align: right;
    }
th{
    text-align: center;
    font-size: 90%;
    }
{% endblock %}
{% block content %}
{#Main HTML content Goes here#}

<div class="container" style="margin-top:100px;">
    <div class="col-sm-4 col-xs-12 text-center ">
        <div class="album-container" ontouchstart="this.classList.toggle('hover');" style="">
            <div class="flip">
                <div class="front">
                    <img class="img-responsive center-block" src="{{ STATIC_URL }}album_covers/SelfTitled.jpg" alt=""/>
                </div>
                <div class="back">
                    <div id="table-container">
                        <h4>Always Funny</h4>
                        <table class="table table-hover table-responsive" style="overflow: scroll">
                            <tr>
                                <th>#</th>
                                <th>Title </th>
                                <th>Length</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>It is about your kid</td>
                                <td>2:42</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>No one wants to hear that.</td>
                                <td>4:06</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Milk Steak</td>
                                <td>3:19</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Cross Country</td>
                                <td>3:31</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Greenman</td>
                                <td>4:09</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Hurt Himself</td>
                                <td>2:38</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Experiment</td>
                                <td>3:02</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Prom Night</td>
                                <td>4:53</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Sold Us Drugs</td>
                                <td>3:52</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Clown</td>
                                <td>3:11</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 text-center ">
        <div class="album-container" ontouchstart="this.classList.toggle('hover');" style="">
           <div class="flip">
                <div class="front">
                    <img class="img-responsive center-block" src="{{ STATIC_URL }}album_covers/NoDogs.jpg" alt=""/>
                </div>
                <div class="back">
                    <div id="table-container">
                        <h4>No Dogs</h4>
                        <table class="table table-hover table-responsive" style="overflow: scroll">
                            <tr>
                                <th>#</th>
                                <th>Title </th>
                                <th>Length</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Intro</td>
                                <td>0:55</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>No Dogs</td>
                                <td>3:00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Ca-Caw!</td>
                                <td>3:55</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Thief of Snacks</td>
                                <td>3:37</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Situation Is Different</td>
                                <td>4:11</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Beer</td>
                                <td>2:35</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Tequila</td>
                                <td>2:24</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Hangover</td>
                                <td>5:20</td>
                            </tr>
                        </table>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 text-center ">
        <div class="album-container" ontouchstart="this.classList.toggle('hover');" style="">
           <div class="flip">
                <div class="front">
                    <img class="img-responsive center-block" src="{{ STATIC_URL }}album_covers/DaymanLeaveth.jpg" alt=""/>
                </div>

                <div class="back">
                    <div id="table-container">
                        <h4>The Dayman Leaveth - EP</h4>
                        <table class="table table-hover table-responsive" style="overflow: scroll">
                            <tr>
                                <th>#</th>
                                <th>Title </th>
                                <th>Length</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Act I</td>
                                <td>1:00/td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Waitress</td>
                                <td>2:38</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Cultivating Mass</td>
                                <td>4:52</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>When You Say Sister?</td>
                                <td>2:07</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Stings, Don't It</td>
                                <td>3:16</td>
                            </tr>
                        </table>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{#    Insert any JavaScript here         #}
{% endblock %}