{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tour Dates</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>City</th>
                            <th>Special Guests</th>
                        </tr>
                        {% for date in tour_dates %}
                        <tr>
                            <td>{{ date.date }}</td>
                            <td>{{ date.city }}</td>
                            <td>{{ date.special_guest }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
        <div id="tour-map" class="col-md-8"></div>
    </div>


{% endblock %}
{% block js %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="{{ STATIC_URL }}mapScript.js"></script>
{% endblock %}